<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kurovszky.robin.unicalendar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="unireq.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data android:name="VALUE" android:value="2"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="kurovszky.robin.unicalendar"/>
        <receiver
            android:name=".Alarm"
            android:process=":remote" />

        <activity
            android:name=".UnireqMainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddReq"
            android:label="@string/title_activity_add_req"
            android:parentActivityName=".UnireqMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kurovszky.robin.unicalendar.UnireqMainActivity" />
        </activity>
        <activity
            android:name=".SubjectActivity"
            android:label="@string/title_activity_subject"
            android:parentActivityName=".UnireqMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kurovszky.robin.unicalendar.UnireqMainActivity" />
        </activity>
        <activity
            android:name=".InfoActivity"
            android:parentActivityName=".UnireqMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kurovszky.robin.unicalendar.UnireqMainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".UnireqMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kurovszky.robin.unicalendar.UnireqMainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddInstitute"
            android:label="@string/title_activity_add_institute"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SelectSubject"
            android:label="@string/title_activity_select_subject"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>